/* SECTION THREE MEDIA QUERY STARTS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login {
    width: 100%;
    display: block;
  }

  .left {
    width: auto;
  }

  .right {
    background-color: #fff;
    margin-block: 20px;
    height: auto;
    width: 100%;
    display: block;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
  }
  input {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* SECTION THREE MEDIA QUERY ENDS */

/* section seven media query starts*/
@media (max-width: 80em) {
  .blogpost-7___section {
    padding: 3.2rem 6.4rem;
  }

  .blogpost-7___heading {
    font-size: 2rem;
  }

  .blogpost-7___text {
    font-size: 1.4rem;
  }
}

@media (max-width: 56em) {
  .blogpost-7__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
  }

  .blogpost-7___section {
    padding: 0 4.8rem;
  }

  .blogpost-7__card {
    padding: 1rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 50%;
  }
  .blogpost-7__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .blogpost-7___section {
    padding: 0 2.4rem 0 3.2rem;
  }
}
/* section seven media query ends */
